name: Dev Pipeline

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build, Test & Coverage Check
        run: mvn -B clean verify

      - name: SonarCloud Scan (Quality Gate enforced)
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn -B sonar:sonar \
          -Dsonar.projectKey=yadavanand7441_spring_boot_with_jpa \
          -Dsonar.organization=yadavanand7441 \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.login=${SONAR_TOKEN} \
          -Dsonar.qualitygate.wait=true

      - name: Deploy to Dev
        run: echo "Deploying to Dev environment..."
